footer {
    display: center;
    text-align: right;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    background-color: rgb(229, 232, 240);
    border: 1px, solid, black;
    height: 3em;
}

.ani {
    color:rgb(24, 110, 185, 0.5);
    white-space: nowrap;
    animation: rightThenLeft 20s alternate 0s infinite;
    margin-right: 100%;
}

@keyframes rightThenLeft {
    0%   {margin-right: 90%;}
    50%  {margin-right: 0%;}
    100% {margin-right: 90%;}
}