footer {
    display: block;
    text-align: right;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    background-color: rgb(229, 232, 240);
    border: 1px, solid, black;
    height: 3em;
}

footer li {
    display: inline-block;
    padding-left: 2em;
    
}

footer .symbol {
    margin-right: 2em;
}

footer img {
    height: 1.5em;
}